<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/tq.css">
</head>

<body>
    <div class="container">
      <div class="logo-placeholder">
      </div>
      <div class="check-icon">&#10004;</div>
      <div class="message">Thank you for your feedback!</div>
    </div>
  </body>

</html>